{% load static %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/Favicon.png' %}">
</head>
<body>
    <header class="navbar">
    <div class="container">

      <h1 class="logo">RemindMe</h1>
      <nav>
        <ul class="nav-links">
          <li><a href="index.html">Home</a></li>
          <li><a href="features.html">Features</a></li>
          <li><a href="howItWorks.html">How it works</a></li>
          <li><a href="signup.html">Sign up</a></li>
          <li><a href="login.html">Login</a></li>
          <li><a href="pricing.html">Pricing Plans</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main>
    <h1>Login to Your Account</h1>
    <form action="/submit" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
       <a href="admin_dashboard.html" style="text-decoration: none; width: 100%; margin-top: 1rem; display: block;">
                    <button type="button" style="width: 100%;">Login to Dashboard</button>
                </a>
        <a href=""></a>
        <p style="text-align: center; margin-top: 1.5rem; color: #4B5563;">
          Don't have an account? <a href="signup.html" style="color: #3B82F6; text-decoration: none; font-weight: bold;">Sign up</a>
        </p>
    </form>
    </main>

    <footer class="footer">
    <p>RemindMe - Developed by
    <a href="https://github.com/joaogaabdev" target="_blank">joaogaabdev</a> | Open Source & Secure</p>
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/linkedin/linkedin-original.svg" class="icon" alt="LinkedIn">
    <a href="https://www.linkedin.com/in/joão-gabriel-018a8425a" target="_blank">João Gabriel</a>
    </footer>
</body>
</html>